<ul class="nav nav-tabs">
  <li><a routerLink="/admin/0" routerLinkActive="active">Info 1</a></li>
  <li><a routerLink="/admin/1" routerLinkActive="active">Info 2</a></li>
  <li><a routerLink="/calendaradmin/0" routerLinkActive="active">Calendar 1</a></li>
</ul>
<div id="admin-container">
    <div class="lw-bar">
        <img src="assets/leanware.png" height="100%" align="right"/>
    </div>
    <div class="col-xs-12 admin-content">
        <form>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 1:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_1" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-8 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_1" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 2</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_2" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-8 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_2" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 3:</label>
                    <div class="col-xs-10 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_3" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_3" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 4:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_4" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_4" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 5:</label>
                    <div class="col-xs-8 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_5" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_5" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko yläruutu 6:</label>
                    <div class="col-xs-8 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_up_6" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_up_6" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 1:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_1" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-8 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_1" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 2</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_2" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-8 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_2" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 3:</label>
                    <div class="col-xs-10 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_3" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_3" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 4:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_4" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_4" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 5:</label>
                    <div class="col-xs-8 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_5" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_5" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko alaruutu 6:</label>
                    <div class="col-xs-8 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_down_6" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_down_6" placeholder="0" [ngModelOptions]="{standalone: true}">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <button (click)="save()" class="btn btn-warning">Tallenna</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
