<h2>LOGIN</h2>
<p>{{message}}</p>
<p>Sano ystävä ja astu sisään!</p>
<label class="col-xs-12 col-sm-3 form-control-label">Salasana:</label>
<div class="col-xs-12 col-sm-6">
    <input type="password" class="form-control" [(ngModel)]="password" placeholder="password" 
    [ngModelOptions]="{standalone: true}" (keyup.enter)="login()" [focus]="focus"/>
</div>
<p>
    <button (click)="login()" class="btn btn-success" *ngIf="!authService.isLoggedIn">Login</button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>