<div id="admin-container">
    <div class="lw-bar">
        ADMIN
        <img src="assets/leanware.png" height="100%" align="right">
    </div>
    <div class="col-xs-12 admin-content">
        <form>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko vasen yläruutu:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_left_up" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Numero:</label>
                    <div class="col-xs-8 col-sm-4">
                        <input type="number" class="form-control" [(ngModel)]="info.value_left_up" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko oikea yläruutu:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_right_up" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Numero:</label>
                    <div class="col-xs-8 col-sm-4">
                        <input type="number" class="form-control" [(ngModel)]="info.value_right_up" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko vasen alaruutu:</label>
                    <div class="col-xs-10 col-sm-6 col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="info.label_left_down" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Teksti:</label>
                    <div class="col-xs-12 col-sm-6">
                        <textarea rows="6" class="form-control" [(ngModel)]="info.value_left_down" placeholder="0" [ngModelOptions]="{standalone: true}">
						</textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Otsikko oikea alaruutu:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_right_down" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Alaotsikko 1 oikea alaruutu:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_right_down_1" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Alaotsikko 1 arvo:</label>
                    <div class="col-xs-8 col-sm-4">
                        <input type="number" class="form-control" [(ngModel)]="info.value_right_down_1" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Alaotsikko 2 oikea alaruutu:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.label_right_down_2" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Alaotsikko 2 arvo:</label>
                    <div class="col-xs-8 col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="info.value_right_down_2" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-3 form-control-label">Päivitys ajankohta:</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="info.update_info" placeholder="0" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <button (click)="save()" class="btn btn-warning">Tallenna</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
