<div class='main-nav' [@slideInOut]="menuState">
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix row'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li >
                    <a routerLink="/admin/0" routerLinkActive="active">
                        <span class='glyphicon glyphicon-wrench'></span> Admin
                    </a>
                </li>
                <li >
                    <a routerLink="/info/0" routerLinkActive="active">
                        <span class='glyphicon glyphicon-th-large'></span> Info 1
                    </a>
                </li>
                <li >
                    <a routerLink="/info/1" routerLinkActive="active">
                        <span class='glyphicon glyphicon-th-large'></span> Info 2
                    </a>
                </li>
                <li >
                    <a routerLink="/calendarinfo/0" routerLinkActive="active">
                        <span class='glyphicon glyphicon-calendar'></span> Calendar 1
                    </a>
                </li>
                <li >
                    <a routerLink="/calendarinfo/1" routerLinkActive="active">
                        <span class='glyphicon glyphicon-calendar'></span> Calendar 2
                    </a>
                </li>-
            </ul>
            <button type="button" class="btn" id="collapse-button" (click)="toggleMenu()">||</button>
        </div>
    </div>
</div>
