<div class='main-nav' [@slideInOut]="menuState">
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix row'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li >
                    <a routerLink="/admin" routerLinkActive="active">
                        <span class='glyphicon glyphicon-education'></span> Admin
                    </a>
                </li>
                <li >
                    <a routerLink="/info" routerLinkActive="active">
                        <span class='glyphicon glyphicon-home'></span> Info
                    </a>
                </li>
            </ul>
            <button type="button" class="btn" id="collapse-button" (click)="toggleMenu()">||</button>
        </div>
    </div>
</div>
