<div id="container">
    <div class="box-row">
        <div class="col-xs-12 col-sm-2 box">
            <div class="upleft">
                <div class="box-style"> 
                    <h2>{{info.label_left_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="upcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="upcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="upcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="upcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="upright">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-row">
        <div class="col-xs-12 col-sm-2 box">
            <div class="downleft">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="downcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="downcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="downcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="downcenter">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 box">
            <div class="downright">
                <div class="box-style">
                    <h2>{{info.label_right_up}}</h2>
                    <p class="header-bottom-padding">
                        {{info.value_left_down}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
