<div id="container">
  <div class="box-row">
      <div class="col-xs-12 col-sm-2 box">
          <div class="upleft">
              <div class="box-style"> 
                  <h2>{{info.label_up_1}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_1}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="upcenter">
              <div class="box-style">
                  <h2>{{info.label_up_2}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_2}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="upcenter">
              <div class="box-style">
                  <h2>{{info.label_up_3}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_3}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="upcenter">
              <div class="box-style">
                  <h2>{{info.label_up_4}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_4}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="upcenter">
              <div class="box-style">
                  <h2>{{info.label_up_5}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_5}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="upright">
              <div class="box-style">
                  <h2>{{info.label_up_6}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_up_6}}
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="box-row">
      <div class="col-xs-12 col-sm-2 box">
          <div class="downleft">
              <div class="box-style">
                  <h2>{{info.label_down_1}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_1}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="downcenter">
              <div class="box-style">
                  <h2>{{info.label_down_2}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_2}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="downcenter">
              <div class="box-style">
                  <h2>{{info.label_down_3}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_3}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="downcenter">
              <div class="box-style">
                  <h2>{{info.label_down_4}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_4}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="downcenter">
              <div class="box-style">
                  <h2>{{info.label_down_5}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_5}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-2 box">
          <div class="downright">
              <div class="box-style">
                  <h2>{{info.label_down_6}}</h2>
                  <p class="header-bottom-padding">
                      {{info.value_down_6}}
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
